requests
numpy==2.3.0
paho-mqtt
sqlalchemy
python-dotenv
customtkinter
PyMuPDF
pygame
PyGobject
streamlit
reportlab
pdfplumber
kivy
matplotlib
tkPDFViewer
pyautogui
wayland_automation
pandas
plotly
scikit-learn
